@import "header.css";
@import "weather.css";
@import "slider.css";
@import 'footer.css';

:root {
  --color-neturalF5: #F5F4F4;
  --color-neturalDA: #DADADA;
  --color-neturalDA40: rgba(218, 218, 218, 0.4);
  --color-netural40: rgba(245, 244, 244, 0.4);
  --color-netural39: #393939;
  --color-black54: #545454;
  --color-input: #707070;
  --color-black20: #202020;
  --color-netural10: rgba(112, 112, 112, 0.1);
  --color-neturalA6: #A6A6A6;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../../public/background.jpg);
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
}

.back-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px 664px 84px;
  grid-template-areas: 'header' 'main' 'footer';
  position: absolute;
  width: 1120px;
  height: 860px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  backdrop-filter: blur(25px);
  background-color: var(--color-netural10);
}

.container {
  padding: 32px;
  display: grid;
  align-items: center;
  gap: 16px;
}

.main {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 472px 192px;
  grid-template-areas: 'weather' 'slider';
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 1024px) and (max-height: 924px) {
  .back-container {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    top: 0;
    transform: none;
    height: 860px;
  }
}

@media (max-width: 1279px) {
  .back-container {
    width: calc(100% - 160px);
  }
}

@media (max-width: 1130px) {
  .back-container {
    width: calc(100% - 64px);
  }
}

@media (max-width: 1024px) and (min-width: 887px) and (max-height: 1186px) {
  .back-container {
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
    top: 0;
    transform: none;
  }
}

@media (max-width: 1023px) {
  .back-container {
    width: calc(100% - 48px);
    height: 1138px;
    grid-template-rows: 96px 974px 68px;
  }

  .container {
    padding: 24px;
  }

  .main {
    grid-template-rows: 806px 168px;
  }
}

@media (max-width: 886px) and (min-width: 767px) and (max-height: 1258px) {
  .back-container {
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
    top: 0;
    transform: none;
  }
}

@media (max-width: 885px) {
  .back-container {
    height: 1210px;
    grid-template-rows: 96px 1046px 68px;
  }

  .main {
    grid-template-rows: 806px 240px;
  }
}

@media (max-width: 768px) and (min-width: 639px) and (max-height: 812px) {
  .back-container {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    top: 0;
    transform: none;
  }
}

@media (max-width: 767px) {
  .back-container {
    grid-template-rows: 64px 668px 48px;
    width: calc(100% - 32px);
    height: 780px;
  }

  .container {
    padding: 16px;
  }

  .main {
    grid-template-rows: 552px 116px;
  }
}

@media (max-width: 640px) and (max-height: 870px) {
  .back-container {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    top: 0;
    transform: none;
  }
}

@media (max-width: 639px) {
  .back-container {
    grid-template-rows: 64px 726px 48px;
    height: 838px
  }
}

@media (max-width: 374px) {
  .back-container {
    height: 100%;
    grid-template-rows: 64px 930px 48px;
  }

  .main {
    grid-template-rows: 750px 180px;
  }
}