.slider {
  grid-area: slider;
}

.slider__container {
  gap: 32px !important;
}

.slider__top {
  display: grid;
  gap: 32px;
  justify-content: flex-start;
  grid-auto-flow: column;
}

.slider__top-tabs {
  position: relative;
  display: grid;
  gap: 32px;
  top: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.slider__top-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-neturalF5);
}

.slider__top-tab {
  cursor: pointer;
  padding: 0;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--color-neturalA6);
  font-variant-numeric: lining-nums;
  background-color: transparent;
  transition: all .5s ease;
}

.slider__top-tab:hover {
  border-bottom: 2px solid var(--color-neturalA6);
}

.slider__top-tab.active {
  cursor: auto;
  color: var(--color-neturalF5);
  border-bottom: 2px solid var(--color-neturalF5);
}

.bottom-forecast.active {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: center;
}

.bottom-forecast {
  display: none;
}

.bottom-forecast-list {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 93%, transparent 100%);
  -webkit-mask-image: linear-gradient(90deg, #000 93%, transparent 100%);
}

.forecast-card {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  padding: 16px;
  list-style: none;
  align-items: center;
  height: calc(64px - 32px);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black20);
  background-color: var(--color-netural40);
}

.hour-card {
  width: calc(156px - 32px);
}

.day-card {
  width: calc(275px - 32px);
}

.bottom-btn {
  cursor: pointer;
  border: none;
  width: 56px;
  height: 48px;
  opacity: 50%;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: var(--color-netural40);
  pointer-events: none;
  transition: all .5s ease;
}

.bottom-btn.next svg {
  transform: rotate(180deg);
}

.bottom-btn.active {
  opacity: 1;
  pointer-events: all;
}

.bottom-btn:hover {
  background-color: var(--color-neturalDA);
}

@media (max-width: 1023px) {
  .slider__top {
    gap: 24px;
  }

  .slider__top-title {
    line-height: 1;
  }

  .slider__top-tabs {
    gap: 24px;
  }
}

@media (max-width: 885px) {

  .bottom-forecast {
    gap: 24px;
  }

  .bottom-forecast-list {
    gap: 12px;
  }

  .forecast-card {
    padding: 16px;
    height: calc(136px - 32px);
    grid-auto-flow: row;
    text-align: center;
  }

  .hour-card {
    width: calc(73px - 32px);
  }

  .day-card {
    width: calc(131px - 32px);
  }

  .forecast-card-icon {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .bottom-forecast-list {
    gap: 8px;
  }

  .forecast-card {
    grid-auto-flow: column;
  }

  .forecast-card {
    grid-auto-flow: column;
    padding: 12px;
    height: calc(48px - 24px);
    font-size: 12px;
    line-height: 16px;
    gap: 12px;
  }

  .hour-card {
    width: calc(118px - 24px);
  }

  .day-card {
    line-height: 1;
    width: calc(156px - 24px);
  }

  .slider__top,
  .slider__top-tabs {
    gap: 16px;
  }

  .slider__top-tabs {
    top: 2px;
  }

  .slider__top-title {
    font-size: 16px;
    line-height: 20px;
  }

  .slider__top-tab {
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 16px;
  }

  .slider__top-tab:hover {
    border-bottom: 1px solid var(--color-neturalA6);
  }

  .slider__top-tab.active {
    border-bottom: 1px solid var(--color-neturalF5);
  }

  .bottom-btn {
    width: 40px;
    height: 32px;
    padding: 8px 12px;
  }

  .bottom-btn svg {
    width: 16px;
    height: 16px;
  }

  .bottom-forecast,
  .bottom-forecast.active {
    gap: 16px;
  }

  .forecast-card-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 639px) {
  .forecast-card {
    padding: 12px;
    height: calc(104px - 24px);
    grid-auto-flow: row;
    text-align: center;
  }

  .hour-card {
    width: calc(55px - 24px);
  }

  .day-card {
    width: calc(98px - 24px);
  }
}